<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index info</title>
    <link rel="stylesheet" href="/static/css/index-info.css">
    <script src="/static/js/night_echart.js"></script>
    <script src="/static/js/echarts.js"></script>
    <script src="/static/js/jquery.min.js"></script>



</head>
<body>

<div class="index-format-night">
    <div class="index-info-night">
        <label >上证50指数</label>
         <div   id="sse_index" ></div>
    </div>
    <div class="index-info-night">
        <label >深证成指</label>
        <div  id="szcz_index" > </div>
    </div>
    <div class="index-info-night">
        <label >创业板指</label>
        <div  id="cybz_index" > </div>
    </div>
</div>
<div  class="index-format-night">
    <div class="index-info-night">
        <label >纳斯达克指数</label>
         <div   id="ixic_index" ></div>
    </div>
    <div class="index-info-night">
        <label >道琼斯指数</label>
        <div  id="dji_index" > </div>
    </div>
    <div class="index-info-night">
        <label >标普500指数</label>
        <div  id="inx_index" > </div>
    </div>
</div>

<script>


 $(document).ready(function() {

     var token = sessionStorage.getItem("token");

     if(token == undefined){
         window.location.href = "/auth/login"
     }

     $.ajax({
         url : "/home/index",
         type : "POST",
         dataType: "json",
         async : false,
         data : {"token" :token },
         success : function (res){
            if(res.code == "0000"){

                //获取国际指数 特指美股
                //纳斯达克
               echart_k(res.times_IXIC,res.code_name_IXIC,res.view_data_IXIC,"ixic_index",res.volume_IXIC,res.volume_yaxis_IXIC);
               //道指
               echart_k(res.times_DJI,res.code_name_DJI,res.view_data_DJI,"dji_index",res.volume_DJI,res.volume_yaxis_DJI);
               //标普
               echart_k(res.times_INX,res.code_name_INX,res.view_data_INX,"inx_index",res.volume_INX,res.volume_yaxis_INX);

               //获取国内指数
                //上证
               echart_k(res.times_SSE,res.code_name_SSE,res.view_data_SSE,"sse_index",res.volume_SSE,res.volume_yaxis_SSE);
               //深指
               echart_k(res.times_SZCZ,res.code_name_SZCZ,res.view_data_SZCZ,"szcz_index",res.volume_SZCZ,res.volume_yaxis_SZCZ);
               //创业
               echart_k(res.times_CYBZ,res.code_name_CYBZ,res.view_data_CYBZ,"cybz_index",res.volume_CYBZ,res.volume_yaxis_CYBZ);
            }else{
                alert(res.msg)
            }
         },
         error : function (res){
            alert("获取指数失败")
         }
     })

    });
</script>
</body>
</html>