<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>snowball combination</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/snowball.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/night_echart.js"></script>
    <script src="/static/js/snowball.js"></script>
    <script src="/static/js/sina-comment.js"></script>


</head>
<body>
<div>
    <div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header title-format-night">
                    大盘走势词云图
                </div>
            </div>
        </nav>
    </div>
    <div class="content-format-night">
        <label>大盘走势词云图是爬取新浪博客评论，根据关键字拆分，根据关键字出现频率生成词云图</label>
    </div>
    <div>
        <hr>
    </div>

    <div>

        <div class='col-sm-2 time-frame-night'>
            <div class="form-group time-night ">
                <div class='input-group date datetimePicker' >
                    <span class="input-group-addon">开始时间</span>
                    <input id="begin_time" type='text' class="form-control"/>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
            </div>
            <div class="form-group time-night">
                <div class='input-group date datetimePicker' >
                    <span class="input-group-addon">结束时间</span>
                    <input id="end_time" type='text' class="form-control"/>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
            </div>


            <div class="form-group time-night">
               <button class="glyphicon glyphicon-search query-comment-night" onclick="query_comment()" >生成词云图</button>
            </div>
        </div>

         <div  class='col-sm-2 time-frame-night'>
            <img id="stock_comment_img" src=""/>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        var html = "";
        for(i = 1; i <= 2; i++){
            html += "<option >"+i+"</option>"
        }
        $("#page").append(html);
    })
</script>
</body>
</html>