<!DOCTYPE html>
<html lang="en">
<head>
    <style>
* {
	margin: 0;
	padding: 0;
}
.main {
	margin: 0 auto;
	padding: 50px 0;
	width: 100%;
	min-height: 100;
}
table {
	margin-bottom: 20px;
	width: 100%;
	border-collapse: collapse;
	border: none;
}
table th, table td {
	padding: 5px 10px;
	border-color: #999;
}
</style>
<link rel="stylesheet" type="text/css" href="/static/css/MyPaging.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

 <script src="/static/js/jquery.min.js"></script>

</head>
<body>
<div class="main " >

	<table border class="table table-hover">
		<thead>
			<tr>
				<th>id</th>
				<th>姓名</th>
				<th>年龄</th>
			</tr>
{#			<tr>#}
{#				<th>股票代码</th>#}
{#				<th>股票名称</th>#}
{#				<th>入选日期</th>#}
{#				<th>入选价格</th>#}
{#				<th>跟踪第一天</th>#}
{#				<th>跟踪第二天</th>#}
{#				<th>跟踪第三天</th>#}
{#				<th>跟踪第四天</th>#}
{#				<th>跟踪第五天</th>#}
{#			</tr>#}
		</thead>
		<tbody class="tbody">
			<tr>
				<td>1</td>
				<td>会计师看到</td>
				<td>50</td>
			</tr>
		</tbody>
	</table>

	<div class="box2"></div>
</div>
 <script src="/static/js/MyPaging.js"></script>
 <script src="/static/js/script.js"></script>
 </body>
</html>