<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>snowball combination</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/snowball.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/night_echart.js"></script>
    <script src="/static/js/snowball.js"></script>
    <style>

        .param-class {
            color: red;
            font-size: 18px;
            font-family: Arial;
        }
    </style>
</head>
<body>
<div>
    <div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header title-format-night" id="strategy_name">
                </div>
            </div>
        </nav>
    </div>
    <div class="content-format-night">
        <label id="strategy_desc"></label>
    </div>
    <div>
        <hr>
    </div>

    <div>
        <div class='col-sm-2 time-frame-night' id="strategy_params">
            <div class="form-group">
                <label class="param-class">参数配置：</label>
            </div>
{#            <div class="form-group ">#}
{#                <span style="float: left;margin-top: 1%">回溯天数：</span><input value="223" hidden/><input type="text"  style="width: 20%" placeholder="数量" class="form-control">#}
{#            </div>#}
{#            <div class="form-group ">#}
{#                <input type="text" id="min_gain" placeholder="最低涨幅" class="form-control">#}
{#            </div>#}
{#            <div class="form-group">#}
{#                <input type="text" id="max_gain" placeholder="最大涨幅" class="form-control">#}
{#            </div>#}

        </div>

        <div class="content-night">

            <iframe class="content-frame-night" id="template"></iframe>

        </div>

    </div>

</div>
<script src="/static/js/strategy.js"></script>

<script>
    $(document).ready(function () {
        var token = check_token();
        var url = "/auth/change_content?token=" + token + "&pageName=strategy_data_table";

        $("#template").attr("src", url);
    })
</script>
</body>
</html>