.time-night{
    float: left;
    width: 17%;
    margin: 10px;
}
.time-frame-night{
    width: 100%;
}
.query-night{
    width: 24%;
    height: 35px;
    border-radius: 11%;
}
.query-comment-night{
    width: 56%;
    height: 35px;
    border-radius: 11%;
}
.sina_picture_night{
    width: 20%;
    float: left;
    text-align: center;
    font-size: 24px;
    color: #ec4f0f;
    font-family: cursive;
}